/*Tabla para mostrar el ultimo turno llamado*/
.contenedor-principal {
	display: flex;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}

/* Sección izquierda */
.contenedor-izquierda {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	box-sizing: border-box;
	gap: 10px;
}

.marco-tablaTurnos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	border: solid 7px #A4A4A4;
	text-align: center;
	min-width: 100%;
	height: auto;
	padding: 10px;
	/* Añade padding para separar el contenido del borde */
	box-sizing: border-box;
}

.columna-tablaTurnos {
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla-turnosArriba,
.tabla-turnosArriba3 {
	font-size: 2vw;
	color: white;
}

.tabla-turnosAbajo1,
.tabla-turnosAbajo2,
.tabla-turnosAbajo3 {
	color: red;
	font-size: 8vw;
	line-height: 1; 
	max-height: 100%; 
	overflow: hidden;
	white-space: nowrap; /* Evita que el texto se divida en varias líneas */
	overflow-wrap: break-word; /* Permite que el texto se ajuste dentro del contenedor */
}

.tabla-turnosAbajo2{
	color: lawngreen;
}

.contenedor-tablaTurnos {
	display: flex;
	justify-content: space-between;
	/* Asegura que los elementos estén separados */
	width: 100%;
	height: 100%;
}

/* Ajuste la posición horizontal de las columnas */
.columna-tablaTurnos:nth-child(1) {
	justify-content: flex-start;
	/* Alinea a la izquierda */
}

.columna-tablaTurnos:nth-child(2) {
	justify-content: center;
	/* Centra en el medio */
}

.columna-tablaTurnos:nth-child(3) {
	justify-content: flex-end;
	/* Alinea a la derecha */
}

/* Sección derecha */
.contenido-derecha {
	width: 70%;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	box-sizing: border-box;
}

.contenido-izquierda {
	width: 100%;
}

.contenedor-video {
	display: flex;
    flex-direction: column; /* Organiza el contenido de arriba hacia abajo */
    width: 100%;
    height: 100%; /* Ajusta la altura del contenedor para que ocupe el espacio disponible */
    padding: 0; /* Elimina el padding para usar el espacio de manera eficiente */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho y alto */
}

.contenedor-reproductor {
	flex: 1; /* Permite que el contenedor del reproductor de video crezca para llenar el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2D77E9; /* Fondo azul para el contenedor del video */
}
video {
    width: 100%;
    height: auto; /* Ajusta la altura del video proporcionalmente */
    max-height: 70vh; /* Limita la altura máxima del video para que no se extienda demasiado */
}

/* .contenedor-reproductor video,
.contenedor-reproductor iframe {
	width: 100%;
	height: 100%;
} */

#miTabla {
	width: 100%;
	height: 156px;
}

/* Estilos adicionales */
thead {
	background: #62a8f8;
	padding: 10px;
	font-size: 18px;
	color: white;
}

.mitabla,
th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 2vh;
}

.mitabla,
td {
	border: 1px solid black;
	padding: 2px;
	border-collapse: collapse;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 2vh;
}

tbody tr {
	border: 6px solid;
	cursor: pointer;
	background: skyblue;
	padding: 10px;
}

tbody tr:hover {
	background: rgba(53, 210, 253, 0.903);
}

.contenedor-turnos {
	width: 100%;
	height: 100%;
	min-height: 300px;
	border: none;
	background: seashell;
}

.tabla-turnos {
	width: 100%;
}

.tabla-turnos th {
	background: white;
	font-size: 150%;
	color: black;
	padding: 25px;
	border: 1px solid white;
}

.tabla-turnos td {
	background: white;
	color: black;
	font-size: 5vh;
	font-weight: 600;
	border: 0px solid white;
}

.primer-fila {
	color: #2976EC;
}

.caja,
.no-caja {
	width: 25%;
}

.td-caja {
	text-align: right;
}

.caja {
	font-size: 20px;
}

.footer {
	margin: 20px auto;
	width: 70%;
	min-width: 300px;
	height: 10%;
}

.clock {
    font-size: 4vw; /* Ajusta el tamaño según sea necesario */
    color: #FFFFFF; /* Cambia el color según sea necesario */
    text-align: center;
    margin-top: 20px; /* Espacio superior para separarlo de la tabla */
}